.datetime.form-group {
  > select {
    width: auto;
    max-width: 100px;
    display: inline-block;
  }
  > label {
    margin-right: 10px;
  }
}
.btn-group.slot-buttons > label.btn {
  margin: 2px !important;
  border-radius: 0;
}
.drive-row .thumbnail {
  margin-bottom: 0;
}
